@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center text-capitalize text-black">
    <h1 class="display-4">Welcome</h1>
    <h2>Razor Sharp Pizzas, is the pizza for you and you</h2>
    <img class="mainImage" src="images/PizzaTime.jpg"/>
</div>